.fill-remaining-space {
  flex: 1 1 auto;
}
.move_icon {
  transform: translateY(8px);
}
.mat-toolbar {
  position: fixed;
  margin-top: -15px;
  margin-left: -7px;
}
.mat-icon {
  padding: 0 7px;
}
.userId {
  font-weight: 400;
  font-size: 0.7em;
}
.pointer {
  cursor: pointer;
}
